@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');

:root{
    --cl1: #010101;
    --cl2: #696969;
    --cl3: white;
    --cl4: #DECD6C;
    --cl5: #F27F7C;
    --cl6: #E775CB;
    --cl7: rgba(255, 255, 255, 0.1);
    --cl8: rgba(255, 255, 255, 0.5);
    --gr1: linear-gradient(65deg, #F5D0DA 0%, #DECD6C 78%, #E3BD47 100%);
    --gr2: linear-gradient(65deg, #FE95C5 0%, #F27F7C 63%, #E89369 100%);
    --gr3: linear-gradient(65deg, #FFC5F6 0%, #E775CB 78%, #FF59BB 100%);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--cl3);
}

body{
    background-color: var(--cl1);
}

.pad{
    height: 100vh;
    display: grid;
    grid-template-rows: 52.8px auto 52.8px;
}

.pad_txt{
    margin: 20px auto;
    width: fit-content;
    font-size: 10px;
    text-align: center;
    color: var(--cl2);
}

.pad_txt:hover{
    color: var(--cl8);
}

.stuff{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_outer_box{
    width: 100%;
    max-height: 280px;
    height: calc(50vh);
    display: flex;
    justify-content: center;
}

.title_box{
    margin: 0 calc(min(25vw, 280px)/7);
    max-width: 280px;
    width: 25vw;
    height: 100%;
}

.title{
    padding: calc(min(50vh / 2, 140px) - 40.4px) 0;
    width: 100%;
    text-align: center;
    font-size: calc(min(25vw, 280px)/4.375);
    -webkit-text-fill-color: transparent;
}

.title:hover{
    -webkit-text-fill-color: var(--cl1);
}

.title_box:hover p{
    opacity: 1;
}

.high_score{
    opacity: 0;
    z-index: -1;
    margin-top: 10px;
    position: relative;
    font-size: xx-large;
    text-align: center;
    color: var(--cl8);
}

@media only screen and (max-width: 500px) {
    
    .title_outer_box{
        display: block;
        max-height: none;
        height: auto;
    }
    
    .title_box{
        display: block;
        margin: 0;
        height: calc((100vh - 105.6px) / 3);
        max-width: none;
        width: 100%;
    }

    .title{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: calc(min(25vw, 280px)/2);
    }

}

#chimpTitle{
    background: var(--gr1);
    -webkit-background-clip: text;
}

#chimpTitle:hover{
    -webkit-background-clip: border-box;
}

#emojiTitle{
    background: var(--gr2);
    -webkit-background-clip: text;
}

#emojiTitle:hover{
    -webkit-background-clip: border-box;
}

#shapeTitle{
    background: var(--gr3);
    -webkit-background-clip: text;
}

#shapeTitle:hover{
    -webkit-background-clip: border-box;
}



.menu{
    position: absolute;
    top: 0;
}

.buttons{
    background-color: var(--cl2);
    color: var(--cl1);
    padding: 20px;
}



.game_title_box{
    height: 0px;
}

.game_title{
    padding-top: 52.8px;
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 24px;
    -webkit-text-fill-color: transparent;
}

.score{
    bottom: 32px;
    padding: 0 40px;
    width: calc(100% - 40px - 40px);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score_txt{
    color: var(--cl3);
    font-size: 32px;
}

.lives_box{
    display: flex;
}

.lives{
    background-color: none;
    margin: 0 0 0 12px;
    width: 8px;
    height: 24px;
    border: 3px solid var(--cl3);
}

.point_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 100px));
    text-align: center;
    color: var(--cl3);
}

.point{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    text-align: center;
    border: 4px solid var(--cl3);
    background-color: transparent;
    color: var(--cl3);
    cursor: pointer;
    font-size: 50px;
}

.point:hover{
    color: var(--cl1);
    background-color: var(--cl3);
}

.pop_txt_box{
    z-index: -1;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#popTxt{
    overflow: hidden;
    color: var(--cl7);
    text-align: center;
}



@keyframes timer {
    from{ width: 0px; }
    to{ width: 100vw; }
}

.time_box{
    position: absolute;
    background-color: var(--cl7);
    width: 0;
    height: 100vh;
    z-index: -1;
}



.help{
    cursor: pointer;
}

.pop{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.close{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    border: 2px solid var(--cl3);
    background-color: transparent;
    color: var(--cl3);
    cursor: pointer;
}

.close:hover{
    background-color: var(--cl3);
    color: var(--cl1);
}

.desc{
    max-width: 500px;
    text-align: center;
    font-size: 12px;
    color: var(--cl3);
    background-color: var(--cl1);
}

#desc1{
    position: absolute;
    bottom: 75px;
    right: 40px;
}

#desc2{
    position: absolute;
    bottom: 75px;
    left: 40px;
}

#desc3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#desc3 p{
    margin: 15px 0;
}

#descGap{
    margin: 15px 0 50px 0;
}

.desc1{
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -94px);
    display: grid;
    grid-template-columns: 280px 280px 280px;
    text-align: center;
}

#section1{
    transform: translateY(-1px);
    color: var(--cl4);
}

#section2{
    transform: translateY(-1px);
    color: var(--cl5);
}

#section3{
    transform: translateY(-1px);
    color: var(--cl6);
}



.data_button{
    z-index: 10;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--cl1);
}

.data_button:hover{
    background-color: var(--cl3);
}

.data{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.data_box{
    overflow-y: scroll;
    height: 70vh;
    width: 70vw;
    text-align: center;
    display: grid;
    grid-template-rows: 80px 25px auto;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data_box h1{
    font-size: large;
}

.data_box div{
    font-size: larger;
}

.data_inner_box{
    margin: 0 auto;
    width: 50%;
    background-color: var(--cl1);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.data_inner_box div{
    border: 2px var(--cl3) solid;
}

.data_num{
    border-right: none !important
}

.data_inner_box p:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.2);
}

.clear_data{
    padding: 10px;
    color: black;
    margin: auto;
    height: fit-content;
    width: fit-content;
    grid-column: 1 / 4;
}