*{
    margin: 0;
    padding: 0;
}

.gamebox{
    margin: auto;
    width: 624px;
    height: 464px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_grid{
    width: calc(2 * 100px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}

.btn_container{
    border: 4px var(--cl2) solid;
    background-color: var(--cl1);
}

.game_button{
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    transform: translate(-4px, -4px);
    border: 4px solid var(--cl4);
    background-color: var(--cl1);
    color: var(--cl4);
    font-size: x-large;
    font-weight: bolder;
}

.game_button:hover{
    background-color: var(--cl4);
    color: var(--cl1);
    cursor: pointer;
}

.start{
    padding: 20px;
}

.text{
    text-align: center;
}