*{
    margin: 0;
    padding: 0;
}

.gamebox{
    margin: 50px 100px;
    background-color: aquamarine;
}

.game_button{
    width: 100px;
    height: 100%;
    border: 4px solid black;
    background-color: white;
    color: black;
    font-size: x-large;
    font-weight: bolder;
}

.game_button:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}

.game{
    display: flex;
    justify-content: center;
}

.game_sq{
    height: 420px;
    width: 600px
}

.game_sq2{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 600px;
}

@keyframes timer {
    from{width: 0%;}
    to{width: 100%;}
}

.time{
    height: 20px;
    background-color: blue;
}

.run_animation{
    animation: timer 5s linear;
}

.game_img{
    width: 400px;
    height: 400px;
}

.start{
    padding: 20px;
}

.text{
    text-align: center;
}
